*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.login{
  display: none;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 90vh;
}

img{
  width: 13rem;
  border-radius: 20px;
}

.left{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block{
  display: flex;
  align-items: center;
}

.cube{
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  background-color: burlywood;
  width: 13rem;
  height: 13rem;
}

.cube span{
  font-size: 2.5rem;
  color: white;
  font-weight: bolder;
}

.img{
  background:transparent;
  padding: 0;
  /* margin: 0; */
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loginDate{
  font-size: 8rem;
}

#loginHour, #loginMinute {
  font-size: 6rem;
  
}

.lastCube img{
  height: 13rem;
  width: 28rem;
}

.right{
  /* background-color: red; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 10px 10px 10%;
}

.right h1{
  font-size: 6rem;
  color: rgb(156, 129, 94);
}

.right p{
  font-size: 2rem;
  color: burlywood;
}

.right input{
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid burlywood;
  border-radius: 10px;
  outline: none;
  color: burlywood;
  font-weight: bolder;
}

.right input::placeholder{
  color: burlywood;
}

.right button{
  font-size: 1.2rem;
  padding: 5px 15px;
  background-color: burlywood;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(Repo/mainBG.jpg);
  background-size: cover;
}

nav{
  width: 80%;
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  box-shadow: 2px 2px 10px rgb(85, 84, 82);
  backdrop-filter: blur(2px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  margin-top: 1rem;
  border-radius: 20px;
  padding: 20px 0;
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container{
  display: inline-flex;
  margin-top: 5rem;
  width: 80%;
}

/* .functions{
  width: 50%;
  display: block;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
} */

.search, .date, .time, .addTask{
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  box-shadow: 2px 2px 10px rgb(85, 84, 82);
  backdrop-filter: blur(2px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  margin: 1rem;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.search input{
  font-size: 1.4rem;
  padding: 5px 20px;
  border: none;
  border-bottom: 3px solid white;
  outline: none;
  background: transparent;
}

.dates{
  display: flex;
  align-items: center;
  justify-content: center;
}

.date{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date #mainDay{
  font-size: 2rem;
}

.time{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#mainDate{
  font-size: 8rem;
  font-weight: bolder;
}

#mainHour, #mainMinute {
  font-size: 5rem;
  font-weight: bolder;
  
}

.addTask{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.addTask input{
  width: 90%;
  font-size: 1.2rem;
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  background: transparent;
}
.addTask textarea{
  font-size: 1rem;
  width: 90%;
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  background: transparent;
}


.addTask button{
  font-size: 1.2rem;
  padding: 5px 15px;
  border: none;
  background-color: rgba(0, 183, 255, 0.61);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-left: 11.5rem;
}

.addTask input::placeholder, .addTask textarea::placeholder, .search input::placeholder{
  color: white;
}

.tasks{
  display: inline-flex;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  box-shadow: 2px 2px 10px rgb(85, 84, 82);
  backdrop-filter: blur(2px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  overflow-y: auto;
  padding: 10px;
}

.taskCard{
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.2s, box-shadow 0.2s, margin 0.2s;
  align-self: flex-start;
}

.taskCard:hover {
  transform: scale(1.07);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  margin: 10px 15px;
}
.taskCard h2{
  text-decoration: underline;
}

.taskCard:nth-child(odd){
  background-color: #fc7d67;
  color: #491108be;
}

.taskCard:nth-child(even){
  background-color: #529bd6;
  color: #0a3253;
}